<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>QuickResponser</title>
</head>

<body>
      <nav >
          <div class="left">
            <i class="large material-icons lefticon">person</i>
            <!-- <a href=""> Settings</a> -->
          </div>
       
        <span class='title_'> QucikResponser</span>
        <i class="large material-icons right">notifications</i>
      </nav>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/crimehistory">Crime History</a></li>
        <li><a href="#"></a></li>
        <!-- <li class="active">Data</li> -->
      </ol>
      
      <div class="crime_history">
        <b><p><font size="5">&nbsp;&nbsp;Crime History</font><p></b>
        <b><p><font size="2">&nbsp;&nbsp;Address</font><p></b>
        <input id="crime_history_address">
            Please enter the the address you want to search for.
        </input>
        <b><p><font size="2">&nbsp;&nbsp;Within</font><p></b>
        <input id="crime_history_distance">
            In miles.
        </input>  
        <b><p><font size="2">&nbsp;&nbsp;Start Date</font><p></b>
        <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="1900-01-01" max="2025-12-31">
        <b><p><font size="2">&nbsp;&nbsp;End Date</font><p></b>
        <input type="date" id="end" name="trip-start"
            value="2018-07-22"
            min="1900-01-01" max="2025-12-31">
        <button type="button" class="btn btn-default" id="reset-button">Reset Filters</button>
        <button type="button" class="btn btn-default" id="search-button">Search</button>
      </div>
      
      <div class="container" >
        <table class="table table-striped" style="font-size:12px" id="table" style="visibility:hidden">
        </table>
      </div>

      <div class="footer">
        <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
        <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
        <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
      </div>


</body>
</html>

<style>
    html{
        width: 100%;
        height: 100%;
    }
    body{
        height: 100%;
       
    }
    nav{
        margin: 0 !important;
        height: 10% !important;
       
    }
    .left{
        float: left;
        width:10%;
        height:100%;

    }
    .lefticon{
        height: 75% !important;
    }
    .right{
        float: right;
    }
    .title_{
        margin-left: 50%;
    }
    
    .breadcrumb{
        margin: 0 !important;
        height: 5% !important;
        padding: 0;
        text-align: left;
    }
    .breadcrumb ol{
        margin: 0;
       
    }
    .crime_history{
        margin: auto !important;
        height: 50%;
        width: 90%;
        background-color:white;
    }

    .container {
        position: relative;
        top: 20px;
    }

    .footer{
        height: 10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    /* Style buttons */
    .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn i {
        font-size: 22px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: black;
    font-size: medium;
    }

    input,
    label {
        margin: .4rem 0;
    }

    
    
</style>


<script>
    
        console.log('dpc1');
        
    
        $(function () {
            console.log('dpc2');
            $('#search-button').click(function () {
                // document.getElementById("table").style.visibility = "";
                console.log('search');
                console.log(verifyInput());
                if(verifyInput() == 1) viewTable();
            });

            $('#reset-button').on('click', function () {
                // document.getElementById("table").style.visibility = "";
                console.log('reset');
                location.reload();
            });

            function verifyInput() {
                if ($('#crime_history_address').val() == "") {
                    alert('Please type your address');
                    return -1;
                }
                if ($('#crime_history_distance').val() == "") {
                    alert('Please add the distance you want to select');
                    return -1;
                }
                return 1;
            }
        })
    
</script>