<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>QuickResponser</title>
</head>

<body>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <p > QucikResponser </p>> 
     </nav>
   
     <ul id="slide-out" class="sidenav">
       <li><div class="user-view">
         <div class="background">
           <img src="../images/touxiang.jpg">
         </div>
         <a href="#user"><img class="circle" src="../images/touxiang.jpg"></a>
         <a href="#name"><span class="white-text name">John Doe</span></a>
       </div></li>
       <li><a href="/user_profile">Profile</a></li>
       <li><a href="#!">Notifications</a></li>
     </ul>
      
      <div class="crime_history">
        <b><p><font size="5">&nbsp;&nbsp;Crime History</font><p></b>
        <b><p><font size="2">&nbsp;&nbsp;Address</font><p></b>
        <input id="crime_history_address">
            Please enter the the address you want to search for.
        </input>
        <b><p><font size="2">&nbsp;&nbsp;Within</font><p></b>
        <input id="crime_history_distance">
            In miles.
        </input>  
        <b><p><font size="2">&nbsp;&nbsp;Start Date</font><p></b>
        <input type="date" id="start" name="trip-start"
            value="2021-07-22"
            min="1900-01-01" max="2025-12-31">
        <b><p><font size="2">&nbsp;&nbsp;End Date</font><p></b>
        <input type="date" id="end" name="trip-start"
            value="2021-11-22"
            min="1900-01-01" max="2025-12-31">
        <button type="button" class="btn btn-default" id="reset-button">Reset Filters</button>
        <button type="button" class="btn btn-default" id="search-button">Search</button>
      </div>
      
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <span class="close" >&times;</span>
        <b><p><font size="4" style="color:red">&nbsp;&nbsp;Event Details</font><p></b>
        </div>
  
      </div>

      <div class="container" >
        <table class="table table-striped" style="font-size:12px" id="table" style="visibility:hidden">
        </table>
      </div>

      <div class="footer">
        <button class='btn btn-primary' onclick="window.location.href='/';"><i class="large material-icons">home</i></button>
        <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
        <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
        <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
      </div>


</body>
</html>

<style>
    html{
        width: 100%;
        height: 100%;
    }
    body{
        height: 100%;
       
    }
    nav{
        margin: 0 !important;
        height: 7% !important;
       
    }

    .right{
        float: right;
    }
    .title_{
        margin-left: 50%;
    }
    
    .breadcrumb{
        margin: 0 !important;
        height: 5% !important;
        padding: 0;
        text-align: left;
    }
    .breadcrumb ol{
        margin: 0;
       
    }
    .crime_history{
        margin: auto !important;
        height: 60%;
        width: 70%;
        background-color:white;
    }

    .container {
        height: 23%;
        width: 80%;
        overflow: scroll;
    }

    .span_modal {
        line-height: 2;
    }

    img {
    max-width: 100%;
    height: auto;
    }

    .footer{
        height: 10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(244, 156, 171);
    }
    nav p{
      text-align: center;
    }

    /* Style buttons */
    .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn i {
        font-size: 22px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    color: black;
    font-size: medium;
    }

    input,
    label {
        margin: .4rem 0;
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


    
    
</style>


<script>
            
    
        $(function () {
            $('#search-button').click(function () {
                // document.getElementById("table").style.visibility = "";
                console.log('search');
                // console.log(verifyInput());
                if(verifyInput() == 1) viewTable();
            });


            $('#reset-button').on('click', function () {
                // document.getElementById("table").style.visibility = "";
                console.log('reset');
                location.reload();
            });

            function verifyInput() {
                if ($('#crime_history_address').val() == "") {
                    alert('Please type your address');
                    return -1;
                }
                if ($('#crime_history_distance').val() == "") {
                    alert('Please add the distance you want to select');
                    return -1;
                }
                console.log(isNaN($('#crime_history_distance').val()))
                if (isNaN($('#crime_history_distance').val())) {
                    alert('Please make sure distance is a number');
                    return -1;
                }
                return 1;
            }

            function createTable(res) {
                $('#table').append('<tbody id="table-body"></tbody>');
                $('#table').append('<thead><tr><th>Sender</th><th>Type</th><th>Distance</th><th>Time</th><th>Details</th></tr></thead>')
                const crime = ["Bomb", "Gun shot", "Robbery", "Drugs", "Theft"];
                for (var i = 0; i < res.length; i++) {
                    ele = res[i];
                    var date = new Date(ele.time);
                    console.log(date.toUTCString());
                    $('#table-body').append(`<tr><td>${res[i].sender}</td><td>${crime[res[i].crime_type]}</td><td>${(((ele.longtitude - 37.4) * (ele.longtitude - 37.4) + (ele.latitude + 122) * (ele.latitude + 122))*1000).toFixed(2)}</td><td>${date.toUTCString()}</td><td><button type="button" class="btn btn-default" id="detail-button${i}">Details</button></td></tr>`);
                }
            }

            function viewTable() {
                // $(".alert").alert('close');
                const data = {
                    location: $('#crime_history_address').val(),
                    distance: $('#crime_history_distance').val(),
                    start: $('#start').val(),
                    end: $('#end').val(),
                }

                // document.getElementById("table").style.visibility = "";
                console.log(data);
                $.ajax({
                    method: 'POST',
                    url: `/access_crime_history/search_result`,
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    statusCode: {
                        403: (res) => {
                            console.log(res);
                        },
                        /* Handle the successful registration response */
                        200: (res) => {
                            console.log(res);
                            $('#table-body').empty();
                            $('#table').empty();

                            if (res.length == 0) {
                                alert( 'There is no data given the filters');
                                return;
                            }
                            tableData=res;
                            createTable(tableData);  
                            for (var i = 0; i< res.length; i++) {
                                const crime = ["Bomb", "Gun shot", "Robbery", "Drugs", "Theft"];
                                $('#detail-button' + i.toString()).on('click', function () {
                                    // document.getElementById("table").style.visibility = "";
                                    const fix = i;
                                    console.log('details');
                                    console.log(this.id);
                                    var digit = "";
                                    for (var tmp = this.id.length-1; tmp >= 0; tmp --){
                                        if (isNaN(this.id[tmp])) {
                                            break;
                                        }
                                        digit = this.id[tmp] + digit;
                                    }
                                    console.log(parseInt(digit));
                                    var index = parseInt(digit);
                                    var span = document.getElementsByClassName("close")[0];
                                    var modal = document.getElementById("myModal");

                                    // Get the modal
                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function(event) {
                                        if (event.target == modal) {
                                            document.getElementById("myModal").style.display = "none";
                                            $("#crime_type").remove();
                                            $("#description").remove();
                                            $("#latitude").remove();
                                            $("#longtitude").remove();
                                            $("#sender").remove();
                                            $("#report_time").remove();
                                            $("#photo").remove();
                                        }
                                    }
                                    // When the user clicks on <span> (x), close the modal
                                    span.onclick = function() {
                                        modal.style.display = "none";
                                        $("#crime_type").remove();
                                        $("#description").remove();
                                        $("#latitude").remove();
                                        $("#longtitude").remove();
                                        $("#sender").remove();
                                        $("#report_time").remove();
                                        $("#photo").remove();
                                    }
                                    const ele = res[index];
                                    var path = "../images/bomb.jpeg";
                                    if (ele.crime_type===1) {
                                        path = "../images/gunshot.jpeg";
                                    }
                                    if (ele.crime_type===2) {
                                        path = "../images/robbery.jpeg";
                                    }
                                    if (ele.crime_type===3) {
                                        path = "../images/drugs.jpeg";
                                    }
                                    if (ele.crime_type===4) {
                                        path = "../images/theft.jpeg";
                                    }
                                    $(".modal-content").append(`<span id="crime_type" class="span_modal"><b><br>Crime Type: ${crime[ele.crime_type]}</b></span>`);
                                    $(".modal-content").append(`<span id="description" class="span_modal"><b><br>Description: ${ele.description}</b></span>`);
                                    $(".modal-content").append(`<span id="latitude" class="span_modal"><b><br>Report Latitude: ${ele.latitude}</b></span>`);
                                    $(".modal-content").append(`<span id="longtitude" class="span_modal"><b><br>Report Longtitude: ${ele.longtitude}</b></span>`);
                                    $(".modal-content").append(`<div id="photo" class="background"><b>Photo: <b><img src=${path}></div>`);   
                                    $(".modal-content").append(`<span id="sender" class="span_modal"><b><br>Send By: ${ele.sender}</b></span>`);
                                    $(".modal-content").append(`<span id="report_time" class="span_modal"><b><br>Report Time: ${Date(ele.time).toString()}</b></span>`);
          
                                    modal.style.display = "block";
                                    
                                });
                            }       
                        },
                    },
                });

            }
        })
    
</script>

<script src="../js/common.js"></script>
