<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>QuickResponser</title>
    
    <script src="../js/map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLgsrMtm_imSDVWeMXrkZFoGELYq3uHc0&libraries=&v=weekly"
      async defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

</head>
<body>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <p > QucikResponser </p>> 
     </nav>

     <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="../images/touxiang.jpg">
          </div>
          <a href="#user"><img class="circle" src="../images/touxiang.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
        </div></li>
        <li><a href="/user_profile">Profile</a></li>
        <li><a href="#!">Notifications</a></li>
      </ul>


      <div id="map">

      </div>
      <div class="footer">
        <button class='btn btn-primary' onclick="window.location.href='/';"><i class="large material-icons">home</i></button>
        <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
        <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
        <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
      </div>

      <script src="../js/common.js"></script>
</body>
</html>





<style>
    
    html{
        width: 100%;
        height: 100%;
    }
    body{
        height: 100%;
       
    }
    nav{
        margin: 0 !important;
        height: 7% !important;
       
    }
    .left{
        float: left;
        width:10%;
        height:100%;

    }
    .lefticon{
        height: 75% !important;
    }
    .right{
        float: right;
    }
    .title_{
        margin-left: 50%;
    }
    
    
    
    #map{
        margin: 0 !important;
        height: 83%;
        width: 100%;
    }

    .footer{
        height: 10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(244, 156, 171);
    }

    nav p{
      text-align: center;
    }
    /* Style buttons */
    .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn i {
        font-size: 22px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    
    
</style>