<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>QuickResponser</title>
    
    <script src="../js/map.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLgsrMtm_imSDVWeMXrkZFoGELYq3uHc0&libraries=&v=weekly"
      async defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

</head>
<body>
      <nav >
          <div class="left">
            <i class="large material-icons lefticon" onclick="window.location.href='user_profile';">person</i>
            <!-- <a href=""> Settings</a> -->
          </div>
       
        <span class='title_'> QucikResponser</span>
        <i class="large material-icons right">notifications</i>
      </nav>
      <div id="map">

      </div>
      <div class="footer">
        <button class='btn btn-primary' onclick="window.location.href='/';"><i class="large material-icons">home</i></button>
        <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
        <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
        <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
      </div>


</body>
</html>





<style>
    
    html{
        width: 100%;
        height: 100%;
    }
    body{
        height: 100%;
       
    }
    nav{
        margin: 0 !important;
        height: 10% !important;
       
    }
    .left{
        float: left;
        width:10%;
        height:100%;

    }
    .lefticon{
        height: 75% !important;
    }
    .right{
        float: right;
    }
    .title_{
        margin-left: 50%;
    }
    
    
    
    #map{
        margin: 0 !important;
        height: 80%;
        width: 100%;
    }

    .footer{
        height: 10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    /* Style buttons */
    .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn i {
        font-size: 22px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    
    
</style>