<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>QuickResponser</title>
</head>


<body>
  <nav>
     <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <p > QucikResponser </p>> 
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../images/touxiang.jpg">
      </div>
      <a href="#user"><img class="circle" src="../images/touxiang.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
    </div></li>
    <li><a href="/user_profile">Profile</a></li>
    <li><a href="#!">Notifications</a></li>
  </ul>
  


  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    
            
            
     
      <div class="report_crime">
        <h3>Report Crime</h3>
        <form action="" id='textform'>
            <div id='areabox'>
                <textarea name="" id="" cols="30" rows="10" placeholder="Please enter crime description"></textarea>
            </div>
           
            <div id='location'>
                <span id='address'>1893 Chrismas Dr, Ca 90783</span>
                <span><i class="material-icons" id='place'>place</i></span>
            </div>

            <div id="camera">
                
                <span><i class="material-icons" id='camera_alt'>camera_alt</i> </span>
                <input type="file" name="pic" accept="image/*"  class='pic_upload'/> 
               
            </div>
        </form>
       

        
      </div>

      <div class="report_survey">
        <h3>Picture Survey</h3>
        <form action="#" id='surveyform'>
            <p>
              <label>
                <input type="checkbox" />
                <span>Bomb</span>
                <i class="iconfont quick-bomb"></i>
                
              </label>
            </p>
            
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Gun shot</span>
                  <i class="iconfont quick-a-qiangzhiqiangfanzuiweixian"></i>
                </label>
            </p>

            <p>
                <label>
                  <input type="checkbox" />
                  <span>Robbery</span>
                  <i class="iconfont quick-robbery"></i>
                </label>
            </p>

            <p>
                <label>
                  <input type="checkbox" />
                  <span>Drugs</span>
                  <i class="iconfont quick-a-Pillsdrugs"></i>
                </label>
            </p>

            <p>
                <label>
                  <input type="checkbox" />
                  <span>Thef</span>
                  <i class="iconfont quick-xiaotou"></i>
                  
                </label>
              </p>

          
           
          </form>
      </div>


      <div class="confirm-lane">
        
        <p>
          <label>
            <input type="checkbox" id="share"/>
            <span>share this report with my community</span>
            
            
          </label>
        </p>

        <div class='two-button'>
          <button type="button" class="btn btn-outline-primary btn-sm cancel">Cancel</button>
          <button type="button" class="btn btn-outline-primary btn-sm publish">Publish</button>
        </div>
      </div>

      <div class="footer">
        <button class='btn btn-primary' onclick="window.location.href='/';"><i class="large material-icons">home</i></button>
        <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
        <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
        <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
      </div>


</body>
</html>


<script src="../js/common.js"></script>
<script src="../js/report.js"></script>

<style>
    p,body,h1,h2,h3,span,textarea,div{
        margin: 0;
        padding: 0;
    }
    html{
        width: 100%;
        height: 100%;
    }
    body{
        height: 100%;
       
    }
    nav{
        margin: 0 !important;
        width: 100% !important;
        height: 7% !important;
       
    }

    nav p{
      text-align: center;
    }
    .sidenav-trigger{
      margin: 0 !important;
    }
    
   

    
    .report_crime{
        margin-left: 5%;
        margin-top: 5%;
        height: 40%;
        width: 90%;
       
    }

    .report_crime h3{
        font-size: 18px;
        line-height: 18px;
        padding-left:2px;
        font-weight: 700;
        height: 10%;
    }

    
    #textform{
        height:90%;
        background-color: rgba(233, 232, 232);
        padding: 5px 5px 0px 5px;
    }

    textarea{
        height:100%;
        width: 100%;
    }
    #areabox{
        height: 75%;
        width: 100%;
    }

    #location{
        height: 10%;
        text-align: end;
        border: 1px solid black;
        border-top: none;
        
    }
    #camera{
        height: 15%;
        text-align:start;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-content: center;
        
        
    }
    .pic_upload{
      margin-top: 0.8rem;
      height: 100%;
      width: 90%;
      font-size: x-small;
      
    }

    #place{
        font-size: 2.5rem;
       
    }
    #address{
      float: left;
      visibility: hidden;
    }


    

    









    .report_survey{
      margin-left: 5%;
        margin-top: 5%;
        height: 30%;
        width: 90%;
    }

    .report_survey h3{
        font-size: 18px;
        line-height: 18px;
        padding-left:2px;
        font-weight: 700;
        height: 10%;
    }

    #surveyform{
        height:90%;
        background-color: rgba(233, 232, 232);
        padding: 5px 5px 0px 5px;
    }



    .confirm-lane{
      margin-left: 5%;
        margin-top: 5%;
        height: 10%;
        width: 90%;
    }

    .two-button{
      display: flex;
      justify-content: space-between;
    }
    .two-button .btn{
      font-size: 10px !important;
    }


    .footer{
        height: 10%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(244, 156, 171);
    }

    /* Style buttons */
    .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    }
    .btn i {
        font-size: 22px;
    }
    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

    


    @font-face {
  font-family: "iconfont"; /* Project id 2960847 */
  src: url('//at.alicdn.com/t/font_2960847_qrenzvwwnt.woff2?t=1637700509438') format('woff2'),
       url('//at.alicdn.com/t/font_2960847_qrenzvwwnt.woff?t=1637700509438') format('woff'),
       url('//at.alicdn.com/t/font_2960847_qrenzvwwnt.ttf?t=1637700509438') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quick-xiaotou:before {
  content: "\e60b";
}

.quick-a-Pillsdrugs:before {
  content: "\e608";
}

.quick-bomb:before {
  content: "\e609";
}

.quick-a-qiangzhiqiangfanzuiweixian:before {
  content: "\e60a";
}

.quick-robbery:before {
  content: "\e607";
}

    
</style>