<style>
    .filter {
        display: inline-block;
        width: 100px;
        height: auto;
    }

    .form-select {
        width: 100px;
    }

    .container {
        position: relative;
        top: 20px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>QuickResponser</title>
</head>

<div class="main">
    <div id="head">
    </div>
    <div id="liveAlertPlaceholder"></div>

    <div class="d-flex justify-content-center mt-4">
        <h4>Crime Statistics</h4>
    </div>
 
    <form class="pt-4 pl-5 pr-5" id="form">

        <div class="form-group">
            <label for="type">Crime Type</label>
            <select id="type" class="form-control">
                <option selected value="">-</option>
                <option value="Robbery">Robbery</option>
                <option value="Violence">Violence</option>
                <option value="Sexual">Sexual Harassment</option>
            </select>
        </div>


        <div class="form-group">
            <label for="date">Month</label>
            <input id="month" type="month" class="form-control" min="2021-01" max="2021-11" value="2021-11">
        </div>
        <!-- <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
            <input placeholder="Select date" type="text" id="example" class="form-control">
            <label for="example">Try me...</label>
            <i class="fas fa-calendar input-prefix"></i>
          </div> -->

        <div class="form-group">
            <label for="location">Location</label>
            <select id="location" class="form-control">
                <option selected value="">-</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Miami">Miami</option>
                <option value="New York">New York</option>
            </select>

        </div>

        <div class="form-group">
            <button class="btn btn-lg" style="background-color:transparent;">
                <i class="glyphicon glyphicon-map-marker"></i> Edit
             </button>
            <button type="button" class="btn btn-default" id="locationbutton">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
            </button>
            <label for="location" style="visibility:hidden" id="locationlabel">Mountain View, CA</label>
        </div>


    </form>

    
    <div style="text-align:center">
        <button class="btn btn-primary" id="apply-button">Submit</button>
    </div>
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <i class="fas fa-cloud"></i>
    </button>
    <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>  Search
       </button>
    <div  class="col text-center" style="margin-top: 30px;">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" id="tablebutton">Table</button>
            <button type="button" class="btn btn-secondary" id="chartbutton">Chart</button>
          </div>
    </div>



    <div class="container" >
        <table class="table table-striped" style="font-size:12px" id="table" style="visibility:hidden">
        </table>
    </div>
    <div style="visibility:hidden" id="chart">
        <canvas id="myChart" style="max-width: 500px;" ></canvas>
    </div>
</div>


</div>

<script>
//line
var ctxL = document.getElementById("myChart").getContext('2d');
var lines = [];
var cases = [];

    // setNavbarBack("station");
    var chooseLocation = -1;
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder');
    var tableData=[];

    $(function () {
        // checkPrivilege()
        // setMinDate();
        $('#apply-button').on('click', function () {
            document.getElementById("table").style.visibility = "";
            document.getElementById("chart").style.visibility = "hidden";
            $('#table-body').empty();
            $('#table').empty();
            if(checkInput() == 1) viewTable();
        });

        $('#plus').on('click', function () {
            console.log("fda")
        });
        $('#location').on('click', function () {
            document.getElementById("locationlabel").style.visibility = "hidden";
        });
        $('#chartbutton').on('click', function () {
            document.getElementById("table").style.visibility = "hidden";
            document.getElementById("chart").style.visibility = "";
            $('#table-body').empty();
            $('#table').empty();


        });
        $('#tablebutton').on('click', function () {
            document.getElementById("table").style.visibility = "";
            document.getElementById("chart").style.visibility = "hidden";
            $('#table-body').empty();
            $('#table').empty();
            createTable(tableData);
        });

        $('#locationbutton').on('click', function () {
            chooseLocation = 0;
            document.getElementById("locationlabel").style.visibility = "";
            $('#location').val('');
            console.log(chooseLocation);
        });
        function checkInput() {
            const data = {
                location: $('#location').val(),
                type: $('#type').val(),
                month: $('#month').val(),
                label: document.getElementById("locationlabel").style.visibility
            }
            if (data.type == "") {
                alert('Please choose the crime type');
                return -1;
            }
            if (data.month == "") {
                alert('Please choose the month');
                return -1;
            }
            if (data.location == "" && data.label == "hidden") {
                alert('Please choose the location');
                return -1;
            }
            return 1;
        }
        // function alert(message, type) {
        //     var wrapper = document.createElement('div');
        //     wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
        //     alertPlaceholder.append(wrapper);
        // }
        function createTable(res) {
            $('#table').append('<tbody id="table-body"></tbody>');
            $('#table').append('<thead><tr><th>City</th><th>Type</th><th>Case</th><th>Month</th></tr></thead>')
            for (var i = 0; i < res.length; i++) {
                    $('#table-body').append(`<tr><td>${res[i].location}</td><td>${res[i].type}</td><td>${res[i].case}</td><td>${res[i].month}</td></tr>`);
            }
        }
        function viewTable() {
            // $(".alert").alert('close');
            const data = {
                location: $('#location').val(),
                type: $('#type').val(),
                month: $('#month').val()
            }
            document.getElementById("table").style.visibility = "";

            if (data.location == "") data.location = "mtv";
            console.log(data);
            $.ajax({
                method: 'POST',
                url: `/statistics`,
                contentType: 'application/json',
                data: JSON.stringify(data),
                statusCode: {
                    403: (res) => {
                        console.log(res);
                    },
                    /* Handle the successful registration response */
                    200: (res) => {
                        //console.log(res);
                        $('#table-body').empty();
                        $('#table').empty();

                        if (res.length == 0) {
                            const alert = 'There is no data on that day'
                            $('#head').append(`<div class='alert alert-warning alert-dismissable' id='fail-alert'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>${alert}</div> `);
                            return;
                        }
                        tableData=res;
                        createTable(tableData);                        
                        $.ajax({
                            method: 'POST',
                            url: `/statistics/months`,
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            statusCode: {
                                403: (res) => {
                                    console.log(res);
                                },
                                /* Handle the successful registration response */
                                200: (res) => {
                                    //console.log(res);
                                    console.log(res);
                                    parseData(res);
                                },
                            },
                        });
                    },
                },
            });

        }
        function parseData(table) {
            var pre = "";
            var line = [];
            lines = [];
            cases = [];
            for (var i = 0; i < table.length; i++) {
                if (i == 0) {
                    pre = table[i].location;
                    lines.push(pre);
                }
                else if (table[i].location != pre) {
                    pre = table[i].location;
                    lines.push(pre);
                    cases.push(line);
                    line = [];
                }
                line.push(table[i].case);
            }
            cases.push(line);

            console.log(cases);
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                labels: ["2021-01", "2021-02", "2021-03", "2021-04", "2021-05", "2021-06", "2021-07", "2021-08", "2021-09", "2021-10", "2021-11"],
                datasets: [{
                label: lines[0],
                data: cases[0],
                backgroundColor: [
                'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2,
                lineTension: 0
                },
                {
                label: lines[1],
                data: cases[1],
                backgroundColor: [
                'rgba(0, 137, 132, .2)',
                ],
                borderColor: [
                'rgba(0, 10, 130, .7)',
                ],
                borderWidth: 2,
                lineTension: 0
                },
                {
                label: lines[2],
                data: cases[2],
                backgroundColor: [
                'rgba(0,255,0,0.3)',
                ],
                borderColor: [
                'rgba(0,255,0,0.3)',
                ],
                borderWidth: 2,
                lineTension: 0
                }
                ]
                },
                options: {
                responsive: true
                }
            });

        }

        // function setMinDate() {
        //     var date_now = new Date();
        //     var year = date_now.getFullYear();

        //     var month = date_now.getMonth() + 1 < 10 ? "0" + (date_now.getMonth() + 1) : (date_now.getMonth() + 1);
        //     var date = date_now.getDate() < 10 ? "0" + date_now.getDate() : date_now.getDate();
        //     console.log(year + "-" + month + "-" + date);
        //     $("#date").attr("min", year + "-" + month + "-" + date);

        // }

        // function checkPrivilege() {
        //     const currentUsername = getUserFromToken($.cookie('token')).username;
        //     $.ajax({
        //         type: 'GET',
        //         url: `/api/users/${currentUsername}`,
        //         headers: {
        //             Authorization: 'Bearer ' + $.cookie('token'),
        //         },
        //         statusCode: {
        //             200: (response) => {
        //                 const privilegeLevel = response.privilegeLevel;
        //                 if (privilegeLevel === 1 || privilegeLevel === 2) {
        //                     setNavbarCreate();
        //                 }
        //             },
        //         },
        //     });
        // }



    })

</script>