<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>QuickResponser Styleguide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/91d8c3ed3a.js" crossorigin="anonymous"></script>

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>QuickResponser</title>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLgsrMtm_imSDVWeMXrkZFoGELYq3uHc0&libraries=&v=weekly"
    async defer
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="../js/map.js"></script>
</head>


<body>
  <div class="container py-5">
    <div class="jumbotron">
      <h1>QuickResponser Styleguide</h1>
      <p class="lead">This is a style guide showcasing the elements of QuickResponser </p>
    </div>

    <h2 class="pt-3 pb-1">Palette</h2>

    <div class="row">
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=2A72FF&text=#2A72FF" class="img-fluid" alt="Blue palette image tile">
            <h3 class="text-center">Blue</h3>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=E13D8D&text=#E13D8D" class="img-fluid" alt="Pink palette image tile">
            <h3 class="text-center">Red</h3>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=F49CAB&text=#F49CAB" class="img-fluid" alt="Red palette image tile">
            <h3 class="text-center">Pink</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=FBC314&text=#FBC314" class="img-fluid" alt="Yellow palette image tile">
            <h3 class="text-center">Yellow</h3>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=3DA744&text=#3DA744" class="img-fluid" alt="Green palette image tile">
            <h3 class="text-center">Green</h3>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <div class="card-body">
            <img src="holder.js/512x256?bg=858C95&text=#858C95" class="img-fluid" alt="Gray palette image tile">
            <h3 class="text-center">Gray</h3>
          </div>
        </div>
      </div>

    </div>


    <h2 class="pt-3 pb-1">Headings &amp; Body Text</h2>

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>This is text </p>  

    <h2 class="pt-3 pb-1">Buttons</h2>

    <p>
      <button type="button" class="btn btn-primary btn-lg">Primary</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Primary</button>
    </p>
  
    

    <h2 class="pt-3 pb-1">Tables</h2>

    <div class="row">
      <div class="col-md">
        <table class="table">
          <thead>
            <tr>
              <th>City</th>
              <th>Type</th>
              <th>Case</th>
              <th>Month</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mountain View </td>
              <td>Robbery</td>
              <td>10</td>
              <td>2021-11</td>
            </tr>
            <tr>
                <td>Sunnyvale </td>
                <td>Robbery</td>
                <td>5</td>
                <td>2021-11</td>
              </tr>
              <tr>
                <td>Sann Jose </td>
                <td>Robbery</td>
                <td>30</td>
                <td>2021-11</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md">
        <table class="table table-striped">
         
         
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <table class="table table-bordered">
          
          
           
           
        </table>
      </div>
      <div class="col-md">
       <table class="table table-sm">
       
        
      </table>
    </div>
  </div>

  <h2 class="pt-3 pb-1">Chart</h2>
  <canvas id="lineChart"></canvas>

  <h2 class="pt-3 pb-1">Image</h2>
  <img src="../images/touxiang.jpg"  width="200" height="200"/>
  <h2 class="pt-3 pb-1">Icon</h2>
  
  <img src="../images/bomb.svg" width="20" height="20"/>
  <img src="../images/gun.svg" width="20" height="20"/>
    <img src="../images/thief.svg" width="20" height="20"/>


  <!-- <div id="photo" class="background"><img src="../public/images/bomb.svg"></div>
  <div id="photo" class="background"><img src="../public/images/gun.svg"></div>
  <div id="photo" class="background"><img src="../public/images/thief.svg"></div> -->
  <i class="fas fa-map-marker-alt"></i>
  <i class="fas fa-home"></i>  
  <i class="fas fa-capsules"></i>
<!-- 
    <div id="photo" class="background"><img src=${path}></div>
        <div id="photo" class="background"><img src=${path}></div>
  <i class="large material-icons"></i>
  <i class="large material-icons"></i> -->

  <h2 class="pt-3 pb-1">Form</h2>
  <form class="pt-4 pl-5 pr-5" id="form">
    <div class="form-group">
        <label for="type">Crime Type</label>
        <select id="type" class="form-control">
            <option selected value="">-</option>
            <option value="Robbery">Robbery</option>
            <option value="Violence">Violence</option>
            <option value="Sexual">Sexual Harassment</option>
        </select>
    </div>


    <div class="form-group">
        <label for="date">Month</label>
        <input id="month" type="month" class="form-control" min="2021-01" max="2021-11" value="2021-11">
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <select id="location" class="form-control">
            <option selected value="">-</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Miami">Miami</option>
            <option value="New York">New York</option>
        </select>

    </div>


</form>

<h2 class="pt-3 pb-1">Nav Bar</h2> 

<div class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <button class='btn btn-primary' onclick="window.location.href='/';"><i class="large material-icons">home</i></button>
    <button class='btn btn-primary' onclick="window.location.href='post_report';"><i class="large material-icons">report</i></button>
    <button class='btn btn-primary' onclick="window.location.href='access_crime_history';"><i class="large material-icons">history</i></button>
    <button class='btn btn-primary' onclick="window.location.href='statistics';"><i class="large material-icons">insert_chart</i></button>
  </div>


<h2 class="pt-3 pb-1">Design Pattern</h2>
<h3 class="pt-3 pb-1">1. Navigation Tabs</h3>
<h3 class="pt-3 pb-1">2. Input Feedback</h3>
<h3 class="pt-3 pb-1">3. Table filter</h3>
<h3 class="pt-3 pb-1">4. Horizontal Dropdown Menu</h3>


 

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js" defer></script>
</body>

<script>
 //line
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
type: 'line',
data: {
labels: ["January", "February", "March", "April", "May", "June", "July"],
datasets: [{
label: "My First dataset",
data: [65, 59, 80, 81, 56, 55, 40],
backgroundColor: [
'rgba(105, 0, 132, .2)',
],
borderColor: [
'rgba(200, 99, 132, .7)',
],
borderWidth: 2,
lineTension: 0

},
{
label: "My Second dataset",
data: [28, 48, 40, 19, 86, 27, 90],
backgroundColor: [
'rgba(0, 137, 132, .2)',
],
borderColor: [
'rgba(0, 10, 130, .7)',
],
borderWidth: 2,
lineTension: 0

}
]
},
options: {
responsive: true
}
});
</script>
</html>